<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.37">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.TimerTrigger>
          <spec>*/1 * * * * </spec>
        </hudson.triggers.TimerTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>node(){
sh label: &apos;&apos;, script: &apos;&apos;&apos;
time_file=/var/lib/node_exporter/jenkins_job.prom.$$
echo jenkins_job_completion_time{node=\\&quot;master-226\\&quot;} $(date +%s) &gt;&gt; $time_file
echo jenkins_job_build{node=\\&quot;master-226\\&quot;} $BUILD_NUMBER &gt;&gt; $time_file
mv $time_file /var/lib/node_exporter/jenkins_job.prom
cat /var/lib/node_exporter/jenkins_job.prom

&apos;&apos;&apos;
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>